{% extends 'base.html' %}

{% block title %}Magazin{% endblock %}

{% block main %}

<div class="row">
  <div class="pull-left col-md-3">{% include "categories.html" %}</div>
  <div class="col-md-4">
    {% if goods %}
      {% if categories %}
        {% for category in categories %}
          <div><b>{{ category.name }}</b></div>
          {% for element in goods %}
            {% if element.category.id == category.id %}
              <div><a href="{% url 'magazin:details' element.id %}">{{ element.name }}</a></div>
            {% endif %}
          {% endfor %}
        {% endfor %}
      {% else %}
        {% for element in goods %}
          <div><a href="{% url 'magazin:details' element.id %}">{{ element.name }}</a></div>
        {% endfor %}
      {% endif %}
    {% else %}
      <div>No goods in category</div>
    {% endif %}
  </div>
</div>

{% endblock %}